.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: rgba(17, 21, 17, 0.721) !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color:rgba(17, 21, 17, 0.721) !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: rgba(17, 21, 17, 0.721) !important;
  }